:root {
  --text: rgb(89, 89, 89);
}

.blogHome {
  display: flex;
  width: 100%;
  color: rgb(89, 89, 89);
}
.blogScroll {
  flex: 3;
  z-index: 1;
}
.blogHead {
  font-size: 2vw;
  width: 60%;
  font-weight: 800;
  margin-left: 5%;
  margin-top: 2vw;
  padding-right: 1vw;
  font-family: "Poppins", sans-serif;
}

.categoriesText {
  margin-top: 5vw;
  padding: 1vw;
  border-radius: 1vw;
  background-color: rgba(234, 232, 199, 0.2);
  font-family: "Poppins", sans-serif;
}
.sideContent {
  z-index: 1;
  margin: 0;
  position: sticky;
  top: 1vw;

  height: 20vw;
  width: 100%;
  overflow-x: hidden;
  margin-top: 2vw;
}
.side {
  flex: 1.5;
}
.sideText {
  margin-top: 4vw;
  padding-right: 1vw;
  font-family: "Poppins", sans-serif;
}

.blogPost {
  width: 90%;
  margin-left: 5%;
  margin-top: 2vw;
  margin-bottom: 5vw;
  padding: 1vw;
  border-radius: 1vw;
  background-color: rgba(234, 232, 199, 0.2);
  font-family: "Poppins", sans-serif;
}
.postContent {
  display: flex;
  flex-direction: column;
}
.blogTitle {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-top: 1vw;
  font-size: 2vw;
}
.blogBody {
  font-size: clamp(1vw, 10px, 5px);
  text-indent: 5vw;
  margin-top: 0;
  text-align: justify;
}

.avatarBlog {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.blogProfile {
  width: 100%;
  display: flex;
  margin-bottom: 2vw;
  padding-bottom: 1vw;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid rgb(210, 210, 210);
}
.profileText {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.profileName {
  color: var(--text);
  margin: 0;
  text-align: left;
  font-size: 1.5vw;
}
.profileDate {
  color: var(--text);
  margin: 0;
  text-align: right;
  font-size: 1vw;
}
.blogImg {
  align-self: center;
  justify-self: center;
  max-width: 55vw;
  max-height: 60vw;
}
.categoryList {
  font-size: 1.5vw;
  display: inline;
  justify-content: flex-end;
  margin-top: 0.5vw;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.lblCategory {
  font-size: 2vw;
  margin: 0;
}
.categoryListItem {
  margin-top: 0.5vw;
  margin-left: 0.5vw;
  cursor: pointer;
}
.categoryListItem:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.profileName:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.darkmodeBtn {
  top: 21vw;
  position: sticky;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  right: 1vw;
  margin: 0;
  height: 2vw;
  margin-right: 1vw;
}
.darkBtnTxt {
  margin-top: 1vw;
  font-size: 1.5vw;
  font-family: "Poppins", sans-serif;
}
input[type="checkbox"]:checked ~ .darkBtnTxt {
  color: lightgray;
  transition: ease-in 0.5s;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}
.check {
  z-index: -999;
  position: relative;
  display: block;
  width: 4vw;
  height: 2vw;
  border-radius: 2vw;
  background: #141d26;
  cursor: pointer;
  overflow: hidden;
  transition: ease-in 0.5s;
}
input[type="checkbox"]:checked ~ .check {
  z-index: -999;
  background: #fff;
  box-shadow: 0 0 0 99999vw #141d26 ;
}

.check:before {
  content: "";
  position: absolute;
  top: 0.2vw;
  left: 0.2vw;
  background: #fff;
  width: 1.6vw;
  height: 1.6vw;
  border-radius: 50%;
  transition: 0.5s;
}
input[type="checkbox"]:checked ~ .check:before {
  transform: translateX(-5vw);
}
.check:after {
  z-index: -999;
  content: "";
  position: absolute;
  top: 0.2vw;
  right: 0.2vw;
  background: #141d26;
  width: 1.6vw;
  height: 1.6vw;
  border-radius: 50%;
  transition: 0.5s;
  transform: translateX(5vw);
}
input[type="checkbox"]:checked ~ .check:after {
  transform: translateX(0vw);
}
.blogHome {
  color: var(--text);
}
.categoriesText {
  color: var(--text);
}
.categoryListItem {
  color: var(--text);
}
.dark {
  --text: lightgray;
}
.sideText {
  color: var(--text);
}
.footerDiv{
  position: relative;
  bottom: 0;
}
.listTest{
  list-style: none;
}
