.secretary {
  display: flex;
}
.sideBar {

  background-color: rgb(248, 245, 227);
  flex: 2;
  color: black;
}
.secretarySideBar {
  top: 4.5vw;
  position: sticky;
  display: inline;
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.secretarySideBar li {
  color: rgb(89, 89, 89);
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 1.5vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  font-size: max(1.5vw, min(10px));
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}
.secretarySideBar li:hover {
  background-color: rgb(236, 235, 226);
}
.secretaryPanel {
  flex: 8;
  width: 100%;
  overflow-x: hidden;
}

.regForm {
  background-color: rgba(234, 232, 199, 0.2);
  width: 90%;
  padding: 2vw;
  margin: 2vw;
  border-radius: 1vw;
}
.btnSubmitReg {
  background-color: darkseagreen;
  border: 0;
  padding: 0.5vw;
  max-width: 50vw;
  width: 15vw;
  font-family: "Poppins", sans-sans-serif;
  font-size: 1.5vw;
  margin-top: 2vw;
  color: white;
  border-radius: 0.8vw;
  cursor: pointer;
}
.btnSubmitReg:hover {
  background-color: rgb(93, 151, 93);
}
.btnClearReg {
  background-color: lightcoral;
  border: 0;
  padding: 0.5vw;
  max-width: 50vw;
  width: 15vw;
  font-family: "Poppins", sans-sans-serif;
  font-size: 1.5vw;
  margin-top: 2vw;
  color: white;
  border-radius: 0.8vw;
  cursor: pointer;
}
.btnClearReg:hover {
  background-color: rgb(180, 83, 83);
}
.lblRegistration {
  font-size: 2vw;
  font-family: "Poppins", sans-serif;
  margin-top: 1vw;
  margin-left: 2vw;
  margin-bottom: -2vw;
  padding: 0;
  color: rgb(89, 89, 89);
  font-weight: 800;
}
.tblContainer {
  justify-content: center;
  margin-bottom: 2vw;
  margin-left: 2vw;
  margin-right: 0;
  overflow-y: auto;
  overflow-x: auto;
  max-height: 20vw;
}
.tblHomeowners {
  font-size: 1vw;
  margin-bottom: 2vw;
  overflow-x: auto;
  overflow-y: auto;
  text-align: center;
  margin: 2vw;
  margin-right: 2vw;
  max-width: 60%;
}
.tblHomeowners th {
  border: none ;
  width: max-content;
  white-space: nowrap;
}
.tblHomeowners td {
  border: none;
  width: max-content;
  white-space: nowrap;
}
.tblHomeowners tr:hover {
  background-color: rgb(211, 211, 211);
}
.userManagementForm {
  background-color: rgba(234, 232, 199, 0.2);
  width: 95%;
  padding: 2vw;
  margin: 2vw;
  border-radius: 1vw;
}
.tblUser{
  font-size: 1vw;
  overflow-y: auto;
  max-width: 90%;
  max-height: 20vw;
  margin-top: 2vw;
}
.tblUser th{
  border: none !important;
  padding: 0.5vw;
  text-align: center;
}
.tblUser td{
  border: none;
  padding: 0.5vw;
  text-align: center;
}
.btnArea{
  display: flex;
  margin: 2vw;
  gap: 1vw;
}
.tbl tr:hover {
  background-color: rgb(211, 211, 211);
}


/* complaint container */
.inbox {
  overflow: hidden;
  margin: 2vw;
  justify-content: center;
  align-items: center;
}

.inboxContainer {
  padding: 2vw;
  padding-left: 0;
  padding-right: 0;
  border-radius: 1vw;
  background-color: rgb(241, 241, 241);
  display: flex;
  width: 95%;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.tblMessage {
  width: 100%;
  height: 100%;
  max-height: 30px;
}
.trInbox {
  color: rgb(89, 89, 89);
  background-color: rgb(241, 241, 241);
  border-bottom: 1px solid rgb(192, 192, 192);
}
.trInbox:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}
.msgSender {
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
}
.msgDesc {
  max-width: 50vw;
  width: fixed;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 1.2vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.msgTime {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.2vw;
}

.inboxTitle {
  font-size: 2vw;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin-bottom: 1vw;
  color: rgb(89, 89, 89);
  font-weight: 800;
}
.complaintManagement{
  margin: 2vw;
}
.homeownerRegistration{
  display: block;
}
.userManagement{
  display: none;
}
.complaintManagement{
  display: none;
}
.settings{
  display: none;
}
.tblRegForm td,
.tblRegForm input,
.tblRegForm select {
  color: rgb(89, 89, 89);
  font-size: 1.2vw;
  border: none !important;
  text-align: left;
}

.addAmenityForm{
  
  background-color: rgba(234, 232, 199, 0.2);
  margin: 2vw;
  border-radius: 1vw;
  padding: 2vw;
}
.tblAmenityForm td{
  color: rgb(89, 89, 89);
  font-size: 1.2vw;
  border: none !important;
  text-align: left;
}

.tblAmenityForm input,
.tblAmenityForm select{
  background-color: white;
  color: rgb(89, 89, 89) !important;
}
.tblAmenity{
  width: 100%;
  margin: 0;
}
.tblAmenity th,
.tblAmenity td{
  text-align: center;
  border: none !important;
  font-size: 1vw;
  overflow-y: auto;
  max-width: 100%;
  max-height: 20vw;
  margin-top: 2vw;
}
.tblAmenity tr:hover{
  background-color: rgb(211, 211, 211);
}
.tblAmenityContainer{
  padding: 0;
  width: 40%;
  /* border: 1px solid; */
  justify-content: center;
  margin-bottom: 2vw;
  margin-left: 2vw;
  margin-right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 20vw;
}
.settingsAddAmenity{
  width: 100%;
  display: flex;
  border-bottom: solid 1px rgb(211, 211, 211);
}
.settingsAddSubdivision{
  width: 100%;
  display: flex;
  border-bottom: solid 1px rgb(211, 211, 211);
}
.settingsMonthlyDues{
  width: 100%;
  display: flex;
  border-bottom: solid 1px rgb(211, 211, 211);
}
.settingsSystemAccounts{
  width: 100%;
  display: flex;
  border-bottom: solid 1px rgb(211, 211, 211);
}
.lblSettings{
  font-size: 2vw;
  font-family: "Poppins", sans-serif;
  margin-top: 1vw;
  margin-left: 2vw;
  margin-bottom: -2vw;
  padding: 0;
  color: rgb(89, 89, 89);
  font-weight: 800;
}