.sideBar {
  background-color: rgb(248, 245, 227);
  flex: 2;
  color: black;
}
.memberSideBar {
  top: 4.5vw;
  position: sticky;
  display: inline;
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.memberSideBar li {
  color: rgb(89, 89, 89);
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 1.5vw;
  font-size: max(1.5vw, min(10px));
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}
.memberSideBar li:hover {
  background-color: rgb(236, 235, 226);
}
.memberPanel {
  flex: 8;
  width: 100%;
  overflow-x: hidden;
}
.profileImg {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  margin: 0;
  border: 0.3vw solid rgb(107, 105, 105);
}

.profileForm {
  display: flex;
  background-color: rgba(234, 232, 199, 0.2);
  width: 95%;
  padding: 2vw;
  margin: 2vw;
  border-radius: 1vw;
}
.tblProfile {
  color: rgb(89, 89, 89);
  margin: 0;
  margin-left: 4vw;
  font-family: "Poppins", sans-serif;
}

.tblPRofile th,
.tblProfile td {
  white-space: nowrap;
  color: rgb(89, 89, 89);
  font-size: 1.2vw;
  border-style: none !important;
  text-align: left !important;
}
.lbl {
  font-weight: 800;
  width: 1%;
  white-space: nowrap;
}
.editBtn {
  width: vw;
  cursor: pointer;
  text-align: right;
}
.fa-pen {
  color: rgb(89, 89, 89);
}
.fa-pen:hover {
  color: rgb(117, 117, 117);
}

thead {
  top: 0;
  position: sticky;
  text-align: center;
  background-color: rgb(251, 250, 244);
  border: none !important;
}

.tblPaidMonthly th,
.tblPaidMonthly td {
  white-space: nowrap;
  color: rgb(89, 89, 89);
  padding: 0.8vw;
  border: none !important;
  text-align: center !important;
}

.table-responsive {
  font-size: max(1vw, min(10px));
  max-height: 500px;
  min-height: 20vw;
}

.tblPaidMonthly {
  margin-top: 1vw;
  margin-bottom: 2vw;
  overflow-y: scroll;
  align-items: center;
  justify-self: center;
  margin: 2vw;
  max-width: 95%;
}
.lblTable {
  font-size: 2vw;
  font-family: "Poppins", sans-serif;
  margin-left: 2vw;
  margin-bottom: -2vw;
  padding: 0;
  color: rgb(89, 89, 89);
  font-weight: 800;
}
.lblProfile {
  font-size: 2vw;
  font-family: "Poppins", sans-serif;
  margin-top: 1vw;
  margin-left: 2vw;
  margin-bottom: -2vw;
  padding: 0;
  color: rgb(89, 89, 89);
  font-weight: 800;
}
.inbox {
  overflow: hidden;
  margin: 2vw;
  justify-content: center;
  align-items: center;
}

.inboxContainer {
  padding: 2vw;
  padding-left: 0;
  padding-right: 0;
  border-radius: 1vw;
  background-color: rgb(219, 217, 217);
  display: flex;
  width: 95%;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.tblMessage {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
  max-height: 30px;
}
.tblMessage td {
  border: none !important;
}
.trInbox {
  color: rgb(89, 89, 89);
  background-color: rgb(219, 217, 217);
  border-bottom: 1px solid rgb(192, 192, 192);
}
.trInbox:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}
.msgSender {
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
}
.msgDesc {
  max-width: 50vw;
  width: fixed;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 1.2vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.msgTime {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.2vw;
}
.inbox {
  width: 100%;
  display: none;
}
.monthlyDuesMem{
  display: none;
}

.inboxTitle {
  font-size: 2vw;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin-bottom: 1vw;
  color: rgb(89, 89, 89);
  font-weight: 800;
}
.editBtnProfile{
  border: none;
  background-color: rgba(255, 255, 255, 0);
  text-align: start;
  height: 2vw;
}